<div class="container-fluid mt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('admin_dashboard') }}">{{ 'common.breadcrumbs.main'|trans({}, 'admin') }}</a>
            </li>
            {%- for path, name in breadcrumbs|default({}) -%}
                <li class="breadcrumb-item">
                    {%- if not loop.last %}<a href="{{ path(path) }}">{% endif -%}
                    {{- name|trans({}, 'admin') -}}
                    {%- if not loop.last %}</a>{% endif -%}
                </li>
            {%- endfor -%}
        </ol>
    </nav>
</div>