<footer>
    <a href="{{ path('front_index') }}"><img src="/front/img/logo.png"></a>
    <p>Copyright {{ 'now'|date('Y') }}. All rights Reserved</p>
    <nav>
        <ul id="social-network">
            {#<li>#}
                {#<a href="#" class="facebook"></a>#}
            {#</li>#}
            {#<li>#}
                {#<a href="#" class="twitter"></a>#}
            {#</li>#}
            {#<li>#}
                {#<a href="#" class="linkedin"></a>#}
            {#</li>#}
            <li>
                <a href="{{ instagramUrl }}" target="_blank" class="instagram"></a>
            </li>
            {#<li>#}
                {#<a href="#" class="vimeo"></a>#}
            {#</li>#}
        </ul>
    </nav>
</footer>